/* Google Font */ 

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap'); 

 

body { 

  margin: 0; 

  padding: 0; 

  font-family: 'Orbitron', sans-serif; 

  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e); 

  color: #fff; 

  display: flex; 

  flex-direction: column; 

  align-items: center; 

  min-height: 100vh; 

  padding-bottom: 80px; 

} 

 

/* Container für alles */ 

.container { 

  text-align: center; 

  padding: 20px; 

  max-width: 600px; 

  width: 100%; 

} 

 

/* Titel */ 

h1 { 

  font-size: 2.5rem; 

  margin-bottom: 30px; 

  background: linear-gradient(to right, #ff00cc, #3333ff); 

  -webkit-background-clip: text; 

  color: transparent; 

  animation: fadeIn 1s ease-in-out; 

} 

 

/* Upload Abschnitt */ 

.upload-section { 

  display: flex; 

  flex-direction: column; 

  gap: 30px; 

  margin-bottom: 30px; 

} 

 

.upload-box { 

  background: rgba(255, 255, 255, 0.05); 

  padding: 20px; 

  border-radius: 20px; 

  border: 1px solid #ff00cc; 

  box-shadow: 0 0 15px rgba(255, 0, 204, 0.2); 

  text-align: center; 

} 

 

/* Dateieingabe */ 

input[type="file"] { 

  margin-top: 10px; 

  background-color: #ff00c8; 
